@keyframes carShowcaseAnim{
    from{left: 0%;}
    to{left: 4%; box-shadow: -7px 6px #292929;}
    
}

#carShowcase:hover{
    animation-name: carShowcaseAnim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes picChangeHover{
    from{}
    to{font-weight: bold; text-decoration: underline;}
}
@keyframes picChangeClick{
    0%{font-weight: bold;}
    25%{font-weight: bold; font-size: 140%;}
    50%{font-size: 135%;}
    75%{font-weight: bold; font-size: 145%;}
    100%{}
}

.picChange:hover{
    animation-name: picChangeHover;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.picChange:active{
    animation-name: picChangeClick;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
